In [5]:
import pandas as pd
# Set option to display all columns
pd.set_option('display.max_columns', None)

In [6]:
faa_data = pd.read_csv("data/AIDS_REPORTS.csv")
faa_data.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Event Type,Aircraft Damage,Flight Phase,Aircraft Make,Aircraft Model,Aircraft Series,Operator,Primary Flight Type,Flight Conduct Code,Flight Plan Filed Code,Aircraft Registration Nbr,Total Fatalities,Total Injuries,Aircraft Engine Make,Aircraft Engine Model,Engine Group Code,Nbr of Engines,PIC Certificate Type,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model,,.1
0,20240801009689I,01-AUG-24,SAN DIEGO,CA,SAN DIEGO INTL,NaN,NaN,NaN,NaN,NaN,NaN,JAZZ,NaN,FOREIGN AIR CARRIER,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20240801010149I,01-AUG-24,MANCHESTER,NH,MANCHESTER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,3200.0,1600.0,2.0,NaN
2,20240801010459I,01-AUG-24,BROOMFIELD,CO,ROCKY MOUNTAIN METROPOLITAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20240801011259I,01-AUG-24,QUANTICO,VA,QUANTICO MCAF /TURNER FIELD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1145.0,NaN,NaN,NaN
4,20240801011459I,01-AUG-24,FORT LAUDERDALE,FL,FORT LAUDERDALE EXECUTIVE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,4188.0,232.0,19.0,NaN

/Users/mansourdia/Documents/md/de/de_bc/de_bc/projects/project1/flights_tracking/notebooks/data_extraction

In [7]:
faa_data.columns

Index(['AIDS Report Number', 'Local Event Date', 'Event City', 'Event State',
       'Event Airport', 'Event Type', 'Aircraft Damage', 'Flight Phase',
       'Aircraft Make', 'Aircraft Model', 'Aircraft Series', 'Operator',
       'Primary Flight Type', 'Flight Conduct Code', 'Flight Plan Filed Code',
       'Aircraft Registration Nbr', 'Total Fatalities', 'Total Injuries',
       'Aircraft Engine Make', 'Aircraft Engine Model', 'Engine Group Code',
       'Nbr of Engines', 'PIC Certificate Type', 'PIC Flight Time Total Hrs',
       'PIC Flight Time Total Make-Model', ' ', ' .1'],
      dtype='object')

In [11]:
faa_data = faa_data[
                    ['AIDS Report Number','Local Event Date', 'Event City', 'Event State',
                    'Event Airport', 'Operator', 'Flight Conduct Code', 'Total Fatalities', 'Total Injuries',
                    'PIC Flight Time Total Hrs', 'PIC Flight Time Total Make-Model' ]
]

faa_data

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Operator,Flight Conduct Code,Total Fatalities,Total Injuries,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model
0,20240801009689I,01-AUG-24,SAN DIEGO,CA,SAN DIEGO INTL,JAZZ,FOREIGN AIR CARRIER,0,0,NaN,NaN
1,20240801010149I,01-AUG-24,MANCHESTER,NH,MANCHESTER,NaN,NaN,0,0,3200.0,1600.0
2,20240801010459I,01-AUG-24,BROOMFIELD,CO,ROCKY MOUNTAIN METROPOLITAN,NaN,NaN,0,0,NaN,NaN
3,20240801011259I,01-AUG-24,QUANTICO,VA,QUANTICO MCAF /TURNER FIELD,NaN,NaN,0,0,1145.0,NaN
4,20240801011459I,01-AUG-24,FORT LAUDERDALE,FL,FORT LAUDERDALE EXECUTIVE,NaN,NaN,0,0,4188.0,232.0
...,...,...,...,...,...,...,...,...,...,...,...
590,20241215017809I,15-DEC-24,MURPHYSBORO,IL,SOUTHERN ILLINOIS,NaN,NaN,0,0,2465.0,2200.0
591,20241216017799I,16-DEC-24,LINCOLN,NE,LINCOLN,NaN,NaN,0,0,25000.0,NaN
592,20241229017079I,29-DEC-24,NaN,NM,ALBUQUERQUE INTL SUNPORT,NaN,NaN,0,1,8500.0,NaN
593,20250102000019A,02-JAN-25,GREENVILLE,MS,MID DELTA RGNL,CORPORATE FLIGHT MANAGEMENT,NaN,0,0,21305.0,NaN
594,20250103000029A,03-JAN-25,NIGHTMUTE,AK,NIGHTMUTE,GRANT AVIATION,NaN,0,0,1658.0,NaN

In [12]:
def extract_incidents_data(path:str)-> pd.DataFrame:
    """
    Extract incident data from a given file path.

    Args:
        path (str): The file path to the data source.

    Returns:
        pd.DataFrame: A DataFrame containing the extracted incident data.
    """



    faa_data = pd.read_csv(path)
    faa_data = faa_data[
                    ['AIDS Report Number','Local Event Date', 'Event City', 'Event State',
                    'Event Airport', 'Operator', 'Flight Conduct Code', 'Total Fatalities', 'Total Injuries',
                    'PIC Flight Time Total Hrs', 'PIC Flight Time Total Make-Model' ]
]

    return faa_data

In [13]:
path = "data/AIDS_REPORTS.csv"
faa_data = extract_incidents_data(path)
faa_data.head()

,AIDS Report Number,Local Event Date,Event City,Event State,Event Airport,Operator,Flight Conduct Code,Total Fatalities,Total Injuries,PIC Flight Time Total Hrs,PIC Flight Time Total Make-Model
0,20240801009689I,01-AUG-24,SAN DIEGO,CA,SAN DIEGO INTL,JAZZ,FOREIGN AIR CARRIER,0,0,NaN,NaN
1,20240801010149I,01-AUG-24,MANCHESTER,NH,MANCHESTER,NaN,NaN,0,0,3200.0,1600.0
2,20240801010459I,01-AUG-24,BROOMFIELD,CO,ROCKY MOUNTAIN METROPOLITAN,NaN,NaN,0,0,NaN,NaN
3,20240801011259I,01-AUG-24,QUANTICO,VA,QUANTICO MCAF /TURNER FIELD,NaN,NaN,0,0,1145.0,NaN
4,20240801011459I,01-AUG-24,FORT LAUDERDALE,FL,FORT LAUDERDALE EXECUTIVE,NaN,NaN,0,0,4188.0,232.0